// Place all the styles related to the Pokemon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.dropdown {
  min-width: 120px;
}
.dropdown-menu {
  min-width: 50px
}
.dropdown-item {
  color: white;
}

.bg-white-hover:hover {
  background-color: #f5f5f5;
}

.vertical-line {
  border-left: 1px solid rgba(0,0,0,0.15);
}

.attribute-name {
  width: 140px;
  font-weight: bold;
}

.simple-anchor:hover { 
  text-decoration: none;
}

.display-button {
  pointer-events: none;
}
.page-button {
  min-width: 64px;
}

@include media-breakpoint-down(sm) {
  .pokemon-card {
    height: 142px;
  }
  .pokemon-image {
    width: 142px;
  }
  .vertical-line {
    height: 122px;
  }
  .card-text-small {
    font-size: 14px;
  }
  .pokemon-type {
    width: 26px;
  }
  .show-pokemon-image {
    width: 340px;
  }
  .show-text-large {
    font-size: 20px;
  }
  .show-pokemon-type {
    width: 44px;
  }
}

@include media-breakpoint-up(sm) {
  .pokemon-card {
    height: 180px;
  }
  .pokemon-image {
    width: 180px;
  }
  .vertical-line {
    height: 160px;
  }
  .card-text-large {
    font-size: 18px;
  }
  .pokemon-type {
    width: 32px;
  }
  .show-text-large {
    font-size: 24px;
  }
  .show-pokemon-type {
    width: 54px;
  }
}

@include media-breakpoint-up(xl) {
  .bg-edges {
    background: linear-gradient(to right, #606060 2%, white 2% 98%, #606060 98%);
  }
}
