// Place all the styles related to the Pokemon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

:root {
  --hover-color: #e9e9e9;
  --dark-bg-color: #606060;
}

.dropdown {
  min-width: 120px;
}
.dropdown-menu {
  min-width: 50px
}
.dropdown-item {
  color: white;
}

.bg-white-hover:hover {
  background-color: var(--hover-color);
}

.vertical-line {
  border-left: 1px solid rgba(0,0,0,0.15);
}

.attribute-name {
  width: 140px;
  font-weight: bold;
}

.simple-anchor:hover { 
  text-decoration: none;
}

.display-button {
  pointer-events: none;
}
.page-button {
  min-width: 64px;
}

@include media-breakpoint-down(sm) {
  .pokemon-card {
    height: 142px;
  }
  .pokemon-image {
    width: 142px;
  }
  .vertical-line {
    height: 122px;
  }
  .card-text-small {
    font-size: 14px;
  }
  .pokemon-type {
    width: 26px;
  }
  .show-pokemon-image {
    width: 340px;
  }
  .show-text-small {
    font-size: 14px;
  }
  .show-text-large {
    font-size: 20px;
  }
  .show-pokemon-type {
    width: 44px;
  }
  .pokemon-icon {
    width: 72px;
  }
}

@include media-breakpoint-up(sm) {
  .pokemon-card {
    height: 180px;
  }
  .pokemon-image {
    width: 180px;
  }
  .vertical-line {
    height: 160px;
  }
  .card-text-large {
    font-size: 18px;
  }
  .pokemon-type {
    width: 32px;
  }
  .show-text-small {
    font-size: 14px;
  }
  .show-text-large {
    font-size: 24px;
  }
  .show-pokemon-type {
    width: 52px;
  }
  .pokemon-icon {
    width: 84px;
  }
}

@media (min-width: 1300px) {
  .bg-edges {
    background: linear-gradient(to right, var(--hover-color) 5%, white 5% 95%, var(--hover-color) 95%);
  }
}
@media (min-width: 1550px) {
  .bg-edges {
    background: linear-gradient(to right, var(--dark-bg-color) 5%, var(--hover-color) 5% 10%,
      white 10% 90%, var(--hover-color) 90% 95%, var(--dark-bg-color) 95%);
  }
}
@media (min-width: 1800px) {
  .bg-edges {
    background: linear-gradient(to right, var(--dark-bg-color) 9%, var(--hover-color) 9% 18%,
      white 18% 82%, var(--hover-color) 82% 91%, var(--dark-bg-color) 91%);
  }
}
