// Place all the styles related to the Pokemon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.hand-cursor {
  cursor: pointer;
}

.bg-white-hover:hover {
  background-color: #f5f5f5;
}

@include media-breakpoint-down(sm) {
  .pokemon-card {
    height: 130px;
  }
  .pokemon-image {
    width: 130px;
  }
}

@include media-breakpoint-up(sm) {
  .pokemon-card {
    height: 180px;
  }
  .pokemon-image {
    width: 180px;
  }
}
